@import "bfriend-mixins";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
a, ul, ul li, ol, ol li, input, textarea, span, p, label, button {
	font-family: $font-pri;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}