@import "bfriend-mixins";
@import "bfriend-styles";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* general  */
/* ----------------------------------------- */
.product-type-woosb .entry-summary .cart .single_add_to_cart_button, .product-type-variable .entry-summary .cart .single_add_to_cart_button, .product-type-simple .entry-summary .cart .single_add_to_cart_button, .product-type-grouped .entry-summary .cart .single_add_to_cart_button, .product-type-external .entry-summary .cart .single_add_to_cart_button {
  font-family: bf-font('pri');
  @include font(14px);
}

.icon { display: inline-block; }

body.single-product .entry-summary form.cart {
  width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], input[type="url"], textarea, select {
  width: 100%;
}

.single-product-modern .product .contain-left {
  width: 100%;
}

.block-minicart {
  .widget_shopping_cart {
    &::before,
    &::after {
      right: 65px;
    }
  }

  .link-dropdown {

    .count { background-color: #881331; }

    span { @include font(24px); }
  }
}


.woocommerce-mini-cart__buttons {
  .button {
    letter-spacing: normal;
    font-family: bf-font('pri');
    padding: 0 10px;
  }
}

.d-flex {
  display: flex !important;
}

.align-items-md-center {
  @media (min-width: 768px) {
    align-items: center;
  }
}

.funiter-socials {
  .content-socials {
    .socials-list {
      height: auto;
      text-align: center;

      @media (min-width: 768px) {
        text-align: right;
      }

      li {
        float: none;
        height: auto;

        a {
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px; height: 20px;
            background: transparent;
            color: bf-color('txt');
          }

          &:hover {
            span {
              background-color: transparent;
              color: bf-color('pri');
            }
          }
        }
      }
    }
  }
}

.block-nav-category {
  .block-content {
    top: calc(100% + 9px);
    left: inherit;
    right: 0;
    background-color: bf-background('sec');
    border: 0;
  }

  .vertical-menu {

    > .menu-item {
      > a {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: bf-color('pri');
      }

      &.parent {
        > a:after {
          content: '\f104' !important;
          float: none;
        }
      }
    }

    .submenu {
      left: inherit;
      right: 100%;
      border: 0 !important;
      background-color: bf-background('sec');
      border-top-right-radius: 0;

      .menu-item {
        a {
          padding-right: 25px;
          @include font(15px);
        }
      }
    }
  }
}

div.prdctfltr_wc {
  .prdctfltr_filter_title {
    font-family: bf-font('pri');
    color: bf-color('pri');
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .prdctfltr_woocommerce_filter {
      color: bf-color('pri');
      top: 5px; left: inherit;
      right: 25px;
      margin-left: 0;
      margin-right: 0;
    }

    .prdctfltr_showing {
      color: bf-color('txt');
    }

    > span.prdctfltr_woocommerce_filter_title {
      background-color: #fff;
      padding: 0 20px 0 15px;
      max-width: 200px;
      min-width: 200px;
      border: 1px solid $color-pri;
      color: bf-color('pri');
      border-radius: 3px;
    }
  }
}

.woocommerce-products-header {
  .prdctfltr_wc.prdctfltr_woocommerce {
    form.prdctfltr_woocommerce_ordering {
      .prdctfltr_filter {
        .prdctfltr_regular_title {
          font-family: bf-font('pri');
          color: bf-color('txt');
        }
      }

      #widget-area .widget .prdctfltr_filter label:not(.screen-reader-text),
      .prdctfltr_filter label:not(.screen-reader-text) {
        padding: 0;
        @include font(15px);

        &:hover {
          color: bf-color('pri');
        }
      }

      .prdctfltr_buttons { display: none; }
    }
  }
}
/* ----------------------------------------- general */

/* 	header  */
/* ----------------------------------------- */
header#header {
  margin-bottom: 40px;

  .header-top-noitice {
    background-color: bf-background('pri');

    .top-noitice-inner {
      padding: 0.15rem 0;

      p {
        margin: 0;
        font-family: bf-font('pri');
        @include font(14px);
        @include normal;
      }
    }
  }

  .phone-online {
    min-width: 150px;
    padding: 0;
    background: transparent;
    margin-left: auto;

    a,
    .mask-phone {
      color: bf-color('pri');
      font-size: 16px;
      float: none;
    }
  }

  .header-control {
    width: 280px;
  }

  .meta-woo {
    display: block;
    > div > a span {
      @include font(24px);
    }
  }

  .header-nav {
    border: 0;
  }

  .header-nav-inner {
    .row {
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .col-lg-6 {
        width: 50%;
      }
    }
  }

  .header-middle {
    border: 0;
    background-color: bf-background('sec');

    .box-header-nav {
      text-align: left;

      .main-menu {
        > {
          .menu-item {
            > a {
              line-height: 50px;
              font-family: bf-font('pri');
              @include font(16px);
              @include medium;
            }
          }
        }
      }
    }
  }

  .block-search {
    .form-search {
      @include radius(0);

      .form-content {
        border-width: 1px;
        @include radius(0);
      }

      .category {
        width: 250px;
        border-top-width: 1px;
        border-bottom-width: 1px;

        .chosen-container-single {
          .chosen-single {
            padding-left: 20px;
          }
        }
      }

      .btn-submit {
        width: 55px;
        @include radius(0);
      }
    }
  }

  .block-nav-category {
    width: 265px;

    .block-title {
      width: 265px;
      background: white;
      transition: all 200ms ease-in-out;
      @include radius(0);

      .before {
        margin: 0;
        background: transparent;
        height: 50px;

        span { border-color: $color-pri; }
      }

      .text-title {
        height: 50px;
        line-height: 50px;
        letter-spacing: 0;
        font-family: bf-font('pri');
        color: bf-color('txt');
        text-transform: uppercase;
        @include medium;
      }

      &:hover {
        background-color: bf-background('pri');

        .before {
          span { border-color: white; }
        }
        .text-title {
          color: white;
        }
      }
    }
  }
}
/* ----------------------------------------- 	header */

/* 	sections  */
/* ----------------------------------------- */
  .s {
    &__banner {
      .vc_col-sm-4 {
        @media (min-width: 768px) {
          width: 41.66666667%;
        }
      }

      .vc_col-sm-8 {
        @media (min-width: 768px) {
          width: 58.33333333%;
        }
      }
    }

    &__banners {
      .funiter-iconbox.style-01 {
        display: flex;

        .iconbox-inner {
          position: relative;
          width: 100%;
          height: 130px;
          padding: 35px 30px 0;

          .title, .text {
            font-family: bf-font('pri');
          }

          .title {
            text-transform: none;
            color: bf-color('txt');
            letter-spacing: 0;
            @include font(18px)
            @include medium;
          }

          .text {
            color: bf-color('txt');
            @include font(14px);
            @include light;
          }

          .icon {
            padding-right: 0;
            position: absolute;
            right: -10px; bottom: -30px;
            opacity: 0.05;
            line-height: inherit;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              @include font(120px);
            }
          }
        }
      }
    }

    &__categories {
      .funiter-banner-bg {
        background-color: bf-background('sec') !important;

        .banner-bg-inner {
          background-image: none !important;
        }

        .banner-info {
          text-align: center;
          width: 100%;
          left: 0;
          padding: 0 30px;

          .banner-top-left {
            display: flex;
            align-items: center;
            justify-content: center;

            .bigtitle {
              font-family: bf-font('pri');
              color: bf-color('pri');
              text-transform: uppercase;
              @include font(22px);
              @include medium;
            }
          }
        }
      }
    }
  }
/* ----------------------------------------- 	sections */

/* 	woocommerce  */
/* ----------------------------------------- */
.woocommerce-product-gallery {
  display: flex;
  flex-direction: column;

  .flex-viewport {
    float: none;
    @include flex(100%);
    width: 100%;
  }

  .flex-control-nav.flex-control-thumbs {
    @include flex(100%);
    width: 100%;
    float: none;
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      cursor: pointer;
      padding: 0;
      @include flex(15%);
    }
  }
}

.contain-left {
  .flash { 
    left: 25px; 
    span:not(.text) {
      background-color: bf-background('pri') !important;
    }
  }
  .single-left {
    @media (min-width: 768px) {
      width: 55%;
    }
  }

  .entry-summary {
    @media (min-width: 768px) {
      width: 45%;
    }
  }
}

.yith-wcwl-add-to-wishlist {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 37px;
    height: 38px;

    i, span { display: none; }
  }
}

.woocommerce-variation-add-to-cart {
  width: 100%;

  .pewc-product-extra-groups {
    li {
      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }

      .pewc-radio-images-wrapper,
      .pewc-checkboxes-images-wrapper {
        justify-content: flex-start;
      }
    }
  }

  ul.pewc-checkbox-group-wrapper {
    display: flex;
    flex-wrap: wrap;

    li {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.woocommerce-Tabs-panel {
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border: 1px solid #eaeaea;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

ul.pewc-product-extra-groups {
  > li {
    > .pewc-item-field-wrapper {
      display: flex;
      align-items: center;

      > label {
        @include flex(120px);
      }
    }
  }
}
/* ----------------------------------------- 	woocommerce */

/* 	sidebar  */
/* ----------------------------------------- */
#widget-area {
  .widget {
    background-color: bf-background('sec');
    border: 0;

    .widgettitle {
      color: bf-color('pri');
      @include font(16px);
      @include medium;
    }

    &.widget_product_categories {
      border: 0;

      .widgettitle {
        color: bf-color('pri');
        @include font(16px);
        @include medium;
      }
    }
  }
}
/* ----------------------------------------- 	sidebar */

/* 	footer  */
/* ----------------------------------------- */
  footer.footer {
    background-color: bf-background('sec');

    .main-footer__infos {
      border-bottom: 1px solid #EEEEEE;
      margin-bottom: 30px;
    }

    .brand {
      img {
        max-width: 135px;
      }
    }

    .funiter-iconbox.style-01 {
      display: flex;
      width: 100%;
      justify-content: center;

      .iconbox-inner {
        display: flex;
        align-items: center;
        padding: 0;
      }

      .icon {
        padding: 0;
        margin-right: 1rem;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
        width: 50px;
        border: 1px solid $color-pri;
        @include radius(50px);
        @include font(22px);
      }

      .title {
        font-family: bf-font('pri');
        color: bf-color('txt');
        letter-spacing: normal;
        text-transform: none;
        @include font(14px);
        @include light;
      }

      .text {
        color: bf-color('pri');
        @include font(20px);
        @include medium;
      }

      .content {
        flex: 1;
      }
    }

    .funiter-heading.style-01 {
      .funiter-title {
        text-transform: none;
        padding: 0;
        margin: 0;
        font-family: bf-font('pri');
        text-align: left;
        letter-spacing: 0;
        color: bf-color('pri');
        @include font(20px)
        @include medium;

        &:before { display: none; }
      }
    }

    .widgettitle {
      text-transform: none;
      font-family: bf-font('pri');
      text-align: left;
      letter-spacing: 0;
      color: bf-color('pri');
      @include font(20px)
      @include medium;
    }
  }
/* ----------------------------------------- 	footer */