/* variables */
/* ----------------------------------------- */
/* ----------------------------------------- variables */
/* 	classes  */
/* ----------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.font-pri {
  font-family: "Rubik", sans-serif; }

.color-pri {
  color: #881331 !important; }

.color-sec {
  color: #FBFBF5 !important; }

.color-ter {
  color: #555555 !important; }

.color-qua {
  color: transparent !important; }

/* ----------------------------------------- 	classes */
/* general mixins and functions */
/* ----------------------------------------- */
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(0.6); }
  100% {
    transform: rotate(360deg) scale(1); } }

@-webkit-keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 1em; }
  40% {
    box-shadow: 0 -2em;
    height: 1.5em; } }

@keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 1em; }
  40% {
    box-shadow: 0 -2em;
    height: 1.5em; } }

/* ----------------------------------------- general mixins and functions */
/* variables */
/* ----------------------------------------- */
/* ----------------------------------------- variables */
/* 	classes  */
/* ----------------------------------------- */
.font-pri {
  font-family: "Rubik", sans-serif; }

.color-pri {
  color: #881331 !important; }

.color-sec {
  color: #FBFBF5 !important; }

.color-ter {
  color: #555555 !important; }

.color-qua {
  color: transparent !important; }

/* ----------------------------------------- 	classes */
/* general mixins and functions */
/* ----------------------------------------- */
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(0.6); }
  100% {
    transform: rotate(360deg) scale(1); } }

@-webkit-keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 1em; }
  40% {
    box-shadow: 0 -2em;
    height: 1.5em; } }

@keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 1em; }
  40% {
    box-shadow: 0 -2em;
    height: 1.5em; } }

/* ----------------------------------------- general mixins and functions */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
a, ul, ul li, ol, ol li, input, textarea, span, p, label, button {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* general  */
/* ----------------------------------------- */
.product-type-woosb .entry-summary .cart .single_add_to_cart_button, .product-type-variable .entry-summary .cart .single_add_to_cart_button, .product-type-simple .entry-summary .cart .single_add_to_cart_button, .product-type-grouped .entry-summary .cart .single_add_to_cart_button, .product-type-external .entry-summary .cart .single_add_to_cart_button {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-size: 0.875rem; }

.icon {
  display: inline-block; }

body.single-product .entry-summary form.cart {
  width: 100%; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], input[type="url"], textarea, select {
  width: 100%; }

.single-product-modern .product .contain-left {
  width: 100%; }

.block-minicart .widget_shopping_cart::before, .block-minicart .widget_shopping_cart::after {
  right: 65px; }

.block-minicart .link-dropdown .count {
  background-color: #881331; }

.block-minicart .link-dropdown span {
  font-size: 24px;
  font-size: 1.5rem; }

.woocommerce-mini-cart__buttons .button {
  letter-spacing: normal;
  font-family: "Rubik", sans-serif;
  padding: 0 10px; }

.d-flex {
  display: flex !important; }

@media (min-width: 768px) {
  .align-items-md-center {
    align-items: center; } }

.funiter-socials .content-socials .socials-list {
  height: auto;
  text-align: center; }
  @media (min-width: 768px) {
    .funiter-socials .content-socials .socials-list {
      text-align: right; } }
  .funiter-socials .content-socials .socials-list li {
    float: none;
    height: auto; }
    .funiter-socials .content-socials .socials-list li a span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background: transparent;
      color: #555555; }
    .funiter-socials .content-socials .socials-list li a:hover span {
      background-color: transparent;
      color: #881331; }

.block-nav-category .block-content {
  top: calc(100% + 9px);
  left: inherit;
  right: 0;
  background-color: #FBFBF5;
  border: 0; }

.block-nav-category .vertical-menu > .menu-item > a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #881331; }

.block-nav-category .vertical-menu > .menu-item.parent > a:after {
  content: '\f104' !important;
  float: none; }

.block-nav-category .vertical-menu .submenu {
  left: inherit;
  right: 100%;
  border: 0 !important;
  background-color: #FBFBF5;
  border-top-right-radius: 0; }
  .block-nav-category .vertical-menu .submenu .menu-item a {
    padding-right: 25px;
    font-size: 15px;
    font-size: 0.9375rem; }

div.prdctfltr_wc .prdctfltr_filter_title {
  font-family: "Rubik", sans-serif;
  color: #881331;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  div.prdctfltr_wc .prdctfltr_filter_title .prdctfltr_woocommerce_filter {
    color: #881331;
    top: 5px;
    left: inherit;
    right: 25px;
    margin-left: 0;
    margin-right: 0; }
  div.prdctfltr_wc .prdctfltr_filter_title .prdctfltr_showing {
    color: #555555; }
  div.prdctfltr_wc .prdctfltr_filter_title > span.prdctfltr_woocommerce_filter_title {
    background-color: #fff;
    padding: 0 20px 0 15px;
    max-width: 200px;
    min-width: 200px;
    border: 1px solid #881331;
    color: #881331;
    border-radius: 3px; }

.woocommerce-products-header .prdctfltr_wc.prdctfltr_woocommerce form.prdctfltr_woocommerce_ordering .prdctfltr_filter .prdctfltr_regular_title {
  font-family: "Rubik", sans-serif;
  color: #555555; }

.woocommerce-products-header .prdctfltr_wc.prdctfltr_woocommerce form.prdctfltr_woocommerce_ordering #widget-area .widget .prdctfltr_filter label:not(.screen-reader-text),
.woocommerce-products-header .prdctfltr_wc.prdctfltr_woocommerce form.prdctfltr_woocommerce_ordering .prdctfltr_filter label:not(.screen-reader-text) {
  padding: 0;
  font-size: 15px;
  font-size: 0.9375rem; }
  .woocommerce-products-header .prdctfltr_wc.prdctfltr_woocommerce form.prdctfltr_woocommerce_ordering #widget-area .widget .prdctfltr_filter label:not(.screen-reader-text):hover,
  .woocommerce-products-header .prdctfltr_wc.prdctfltr_woocommerce form.prdctfltr_woocommerce_ordering .prdctfltr_filter label:not(.screen-reader-text):hover {
    color: #881331; }

.woocommerce-products-header .prdctfltr_wc.prdctfltr_woocommerce form.prdctfltr_woocommerce_ordering .prdctfltr_buttons {
  display: none; }

/* ----------------------------------------- general */
/* 	header  */
/* ----------------------------------------- */
header#header {
  margin-bottom: 40px; }
  header#header .header-top-noitice {
    background-color: #881331; }
    header#header .header-top-noitice .top-noitice-inner {
      padding: 0.15rem 0; }
      header#header .header-top-noitice .top-noitice-inner p {
        margin: 0;
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 400; }
  header#header .phone-online {
    min-width: 150px;
    padding: 0;
    background: transparent;
    margin-left: auto; }
    header#header .phone-online a,
    header#header .phone-online .mask-phone {
      color: #881331;
      font-size: 16px;
      float: none; }
  header#header .header-control {
    width: 280px; }
  header#header .meta-woo {
    display: block; }
    header#header .meta-woo > div > a span {
      font-size: 24px;
      font-size: 1.5rem; }
  header#header .header-nav {
    border: 0; }
  @media (min-width: 768px) {
    header#header .header-nav-inner .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center; } }
  header#header .header-nav-inner .row .col-lg-6 {
    width: 50%; }
  header#header .header-middle {
    border: 0;
    background-color: #FBFBF5; }
    header#header .header-middle .box-header-nav {
      text-align: left; }
      header#header .header-middle .box-header-nav .main-menu > .menu-item > a {
        line-height: 50px;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-size: 1rem;
        font-weight: 500; }
  header#header .block-search .form-search {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    header#header .block-search .form-search .form-content {
      border-width: 1px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    header#header .block-search .form-search .category {
      width: 250px;
      border-top-width: 1px;
      border-bottom-width: 1px; }
      header#header .block-search .form-search .category .chosen-container-single .chosen-single {
        padding-left: 20px; }
    header#header .block-search .form-search .btn-submit {
      width: 55px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
  header#header .block-nav-category {
    width: 265px; }
    header#header .block-nav-category .block-title {
      width: 265px;
      background: white;
      transition: all 200ms ease-in-out;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      header#header .block-nav-category .block-title .before {
        margin: 0;
        background: transparent;
        height: 50px; }
        header#header .block-nav-category .block-title .before span {
          border-color: #881331; }
      header#header .block-nav-category .block-title .text-title {
        height: 50px;
        line-height: 50px;
        letter-spacing: 0;
        font-family: "Rubik", sans-serif;
        color: #555555;
        text-transform: uppercase;
        font-weight: 500; }
      header#header .block-nav-category .block-title:hover {
        background-color: #881331; }
        header#header .block-nav-category .block-title:hover .before span {
          border-color: white; }
        header#header .block-nav-category .block-title:hover .text-title {
          color: white; }

/* ----------------------------------------- 	header */
/* 	sections  */
/* ----------------------------------------- */
@media (min-width: 768px) {
  .s__banner .vc_col-sm-4 {
    width: 41.66666667%; } }

@media (min-width: 768px) {
  .s__banner .vc_col-sm-8 {
    width: 58.33333333%; } }

.s__banners .funiter-iconbox.style-01 {
  display: flex; }
  .s__banners .funiter-iconbox.style-01 .iconbox-inner {
    position: relative;
    width: 100%;
    height: 130px;
    padding: 35px 30px 0; }
    .s__banners .funiter-iconbox.style-01 .iconbox-inner .title, .s__banners .funiter-iconbox.style-01 .iconbox-inner .text {
      font-family: "Rubik", sans-serif; }
    .s__banners .funiter-iconbox.style-01 .iconbox-inner .title {
      text-transform: none;
      color: #555555;
      letter-spacing: 0;
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: 500; }
    .s__banners .funiter-iconbox.style-01 .iconbox-inner .text {
      color: #555555;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 300; }
    .s__banners .funiter-iconbox.style-01 .iconbox-inner .icon {
      padding-right: 0;
      position: absolute;
      right: -10px;
      bottom: -30px;
      opacity: 0.05;
      line-height: inherit;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center; }
      .s__banners .funiter-iconbox.style-01 .iconbox-inner .icon span {
        font-size: 120px;
        font-size: 7.5rem; }

.s__categories .funiter-banner-bg {
  background-color: #FBFBF5 !important; }
  .s__categories .funiter-banner-bg .banner-bg-inner {
    background-image: none !important; }
  .s__categories .funiter-banner-bg .banner-info {
    text-align: center;
    width: 100%;
    left: 0;
    padding: 0 30px; }
    .s__categories .funiter-banner-bg .banner-info .banner-top-left {
      display: flex;
      align-items: center;
      justify-content: center; }
      .s__categories .funiter-banner-bg .banner-info .banner-top-left .bigtitle {
        font-family: "Rubik", sans-serif;
        color: #881331;
        text-transform: uppercase;
        font-size: 22px;
        font-size: 1.375rem;
        font-weight: 500; }

/* ----------------------------------------- 	sections */
/* 	woocommerce  */
/* ----------------------------------------- */
.woocommerce-product-gallery {
  display: flex;
  flex-direction: column; }
  .woocommerce-product-gallery .flex-viewport {
    float: none;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }
  .woocommerce-product-gallery .flex-control-nav.flex-control-thumbs {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    float: none;
    padding: 20px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .woocommerce-product-gallery .flex-control-nav.flex-control-thumbs li {
      cursor: pointer;
      padding: 0;
      flex: 0 0 15%;
      max-width: 15%; }

.contain-left .flash {
  left: 25px; }
  .contain-left .flash span:not(.text) {
    background-color: #881331 !important; }

@media (min-width: 768px) {
  .contain-left .single-left {
    width: 55%; } }

@media (min-width: 768px) {
  .contain-left .entry-summary {
    width: 45%; } }

.yith-wcwl-add-to-wishlist a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 37px;
  height: 38px; }
  .yith-wcwl-add-to-wishlist a i, .yith-wcwl-add-to-wishlist a span {
    display: none; }

.woocommerce-variation-add-to-cart {
  width: 100%; }
  .woocommerce-variation-add-to-cart .pewc-product-extra-groups li:not(:last-child) {
    margin-bottom: 0.7rem; }
  .woocommerce-variation-add-to-cart .pewc-product-extra-groups li .pewc-radio-images-wrapper,
  .woocommerce-variation-add-to-cart .pewc-product-extra-groups li .pewc-checkboxes-images-wrapper {
    justify-content: flex-start; }
  .woocommerce-variation-add-to-cart ul.pewc-checkbox-group-wrapper {
    display: flex;
    flex-wrap: wrap; }
    .woocommerce-variation-add-to-cart ul.pewc-checkbox-group-wrapper li:not(:last-child) {
      margin-right: 15px; }

.woocommerce-Tabs-panel figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 1px solid #eaeaea; }
  .woocommerce-Tabs-panel figure:not(:last-child) {
    margin-right: 30px; }

ul.pewc-product-extra-groups > li > .pewc-item-field-wrapper {
  display: flex;
  align-items: center; }
  ul.pewc-product-extra-groups > li > .pewc-item-field-wrapper > label {
    flex: 0 0 120px;
    max-width: 120px; }

/* ----------------------------------------- 	woocommerce */
/* 	sidebar  */
/* ----------------------------------------- */
#widget-area .widget {
  background-color: #FBFBF5;
  border: 0; }
  #widget-area .widget .widgettitle {
    color: #881331;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 500; }
  #widget-area .widget.widget_product_categories {
    border: 0; }
    #widget-area .widget.widget_product_categories .widgettitle {
      color: #881331;
      font-size: 16px;
      font-size: 1rem;
      font-weight: 500; }

/* ----------------------------------------- 	sidebar */
/* 	footer  */
/* ----------------------------------------- */
footer.footer {
  background-color: #FBFBF5; }
  footer.footer .main-footer__infos {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 30px; }
  footer.footer .brand img {
    max-width: 135px; }
  footer.footer .funiter-iconbox.style-01 {
    display: flex;
    width: 100%;
    justify-content: center; }
    footer.footer .funiter-iconbox.style-01 .iconbox-inner {
      display: flex;
      align-items: center;
      padding: 0; }
    footer.footer .funiter-iconbox.style-01 .icon {
      padding: 0;
      margin-right: 1rem;
      float: none;
      display: flex;
      align-items: center;
      justify-content: center;
      float: none;
      width: 50px;
      border: 1px solid #881331;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px;
      font-size: 22px;
      font-size: 1.375rem; }
    footer.footer .funiter-iconbox.style-01 .title {
      font-family: "Rubik", sans-serif;
      color: #555555;
      letter-spacing: normal;
      text-transform: none;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 300; }
    footer.footer .funiter-iconbox.style-01 .text {
      color: #881331;
      font-size: 20px;
      font-size: 1.25rem;
      font-weight: 500; }
    footer.footer .funiter-iconbox.style-01 .content {
      flex: 1; }
  footer.footer .funiter-heading.style-01 .funiter-title {
    text-transform: none;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    text-align: left;
    letter-spacing: 0;
    color: #881331;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500; }
    footer.footer .funiter-heading.style-01 .funiter-title:before {
      display: none; }
  footer.footer .widgettitle {
    text-transform: none;
    font-family: "Rubik", sans-serif;
    text-align: left;
    letter-spacing: 0;
    color: #881331;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500; }

/* ----------------------------------------- 	footer */
